<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <title><%= "Eta Kappa Nu (HKN), Mu Chapter"%><%= " - #{@module_title}" unless @module_title.blank? %><%= " - #{@submodule_title}" unless @submodule_title.blank? %></title>

  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'print', media: 'print' %>
  <%= favicon_link_tag %>
  <%= csrf_meta_tag %>

  <link href='https://fonts.googleapis.com/css?family=Puritan|Cuprum' rel='stylesheet' type='text/css' />
  <link href='https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css' rel='stylesheet' type='text/css' />
  <link href='https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.css' rel='stylesheet' type='text/css' />

  <%= javascript_include_tag 'application' %>
  <script src='https://code.jquery.com/ui/1.12.1/jquery-ui.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.js'></script>

  <%= render partial: 'easter_eggs/js' %>
  <%= yield(:header) %>

  <%# Automatically includes javascript or css files with the same name as the controller %>
  <%= stylesheet_link_tag controller.controller_name if Rails.application.assets.find_asset("#{controller.controller_name}.css") %>
  <%= javascript_include_tag params[:controller] unless HknRails::Application.assets.find_asset("#{params[:controller]}.js").nil? %>
  <meta name="google-site-verification" content="J_Vtxbv72xOD7F9XtcIhbAB3lcYexZ_jjg33Hvc3zxw" />
</head>

<body>
<div id="wrapper">
  <div id="header">
    <div id="navigation">
        <% if @current_user %>
          <span id="userbar" class="userbar">
            Welcome, <%= link_to @current_user.full_name, @current_user %>
          </span>
          <span class="userbar" id="user-dropdown">
            <span class="list-item"><a href="/account-settings"><span class="icon" id="settings"></span>Settings</a></span>
            <span class="list-item"><a href="/logout"><span class="icon" id="logout"></span>Logout</a></span>
            <span id="username" style="display:none;"><%= @current_user.username %></span>
          </span>
        <% else %>
          <span class="userbar"><%= link_to "Log In", "/login"%> | <%= link_to "Register", "/register"%></span>
          <span id="username" style="display:none;">guest</span>
        <% end %>
        <%= render 'notifications/notifications' if @auth['comms'] %>
      <ul>
        <li><a class="navigation_toplevel_item" id="services" href="#">Student Services</a></li>
        <li><a class="navigation_toplevel_item" id="indrel" href="#">Industry Relations</a></li>
        <li><a class="navigation_toplevel_item" id="events" href="#">Events</a></li>
        <% if @current_user %>
          <li><a class="navigation_toplevel_item" id="people" href="#">People</a></li>
        <% end %>
        <li><a class="navigation_toplevel_item" id="service" href="#">Service</a></li>
        <li><a class="navigation_toplevel_item" id="alumni" href="#">Alumni</a></li>
        <li><a class="navigation_toplevel_item" id="about" href="#">About HKN</a></li>
        <% if @auth["candidates"] %>
          <li><a class="navigation_toplevel_item" id="cand" href="#">Candidate Portal</a></li>
        <% end %>
        <% if @auth["comms"] %>
          <li><a class="navigation_toplevel_item" id="admin" href="#">Admin</a></li>
        <% end %>
      </ul>
      <div class="clear"></div>
    </div>

    <div id="lower">
        <div id="submenu-thin">
          <%= render "layouts/submenu" %>
        </div>
        <div id="logo">
          <%= link_to ("/") do %>
            <% if @easter_eggs[:kappa] %>
                <%= image_tag("hkn_logo_kappa.png", alt: "Eta Kappa Nu, Mu Chapter") %>
            <% else %>
                <%= image_tag("hkn_logo.png", alt: "Eta Kappa Nu, Mu Chapter") %>
            <% end %>
          <% end %>
        </div>
        <div id="submenu">
          <%= render "layouts/submenu" %>
        </div>
        <div id="topbar">
          <%= render "layouts/searcharea" %>
          <div class="clear"></div>
        </div>
	  <div class="clear"></div>
    </div>

    <% if session[:cas_user] %>
      <div id="calnet-notice">
      You are currently logged in via Calnet.
      <%= link_to "Click here to logout", coursesurveys_logout_path %>.
      </div>
    <% end %>
  </div>

  <div id="content">
    <div id="container">
      <%- @messages |= [flash[:notice]] if flash[:notice] -%>

      <% if !@messages.empty? %>
        <div id="messages" class="no-translation">
          <% @messages.each do |message| %>
            <div class="message"><%= message =~ /\n|<.>/ ? simple_format(message) : message %></div>
          <% end %>
        </div>
      <% end %>

      <% if Rails.env=="development" and !@debug.empty? %>
        <div id="debug">
          <% @debug.each do |message| %>
            <div class="message">Debug:<%= message %></div>
          <% end %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </div>
  <div id="push"></div>
</div>

  <div id="footer">
	<div id="footer-right">Eta Kappa Nu, Mu Chapter</div>
    <div id="footer-left"><%= link_to "HOME", root_url %> | <a href="/about/contact/">CONTACT</a></div>
  </div>

</body>
</html>
